*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}

nav {
  display: flex;
  gap: 25px;
  padding: 20px;
  border: 1px solid gray;
  width: fit-content;
  background-color: aqua;
  color: wheat;
  font-weight: bold;
}

.homebtn {
  padding: 8px 16px;
  border-radius: 999px;
  background-color: rgb(2, 2, 71);
  color: white;
  font-weight: bold;
}

.user-info {
  height: 30px;
  width: 30px;
  background-color: rgb(120, 40, 196);
  border-radius: 50%;
  color: white;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 2px;
  border: 2px solid #ccc;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}

.login-form > button {
  border: 0;
  margin-top: 8px;
  padding: 4px 8px;
  background-color: blue;
  color: white;
  font-weight: medium;
  border-radius: 0.4rem;
  cursor: pointer;
}
